*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* background-color: gray; */
}

.bola{
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    display: flex;
    margin: 1em;
}

.amarela{
    background-color: #F9E800;
}
.vermelha{
    background-color: #FF271C;
}
.verde{
    background-color: #00D65F;
}
.azul{
    background-color: #00C2EE;
}

.letra{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    margin: auto;
}

.centro{
    display: flex;
    margin: auto;
}

.cardRanking{
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: 100%;
    height: 3em;
    border-radius: 4em;
    background-color: #9200D6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

